<h1>Editing post</h1>

<%= render 'form' %>


<table>
  <tr>
    <th>Pos</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @post.paragraphs.each do |paragraph| %>
      <tr>
        <td><%= paragraph.position %></td>
        <td><%= paragraph.body %></td>
        <td><%= link_to 'Edit', edit_post_paragraph_path(@post, paragraph) %></td>
        <td><%= link_to 'Up', post_paragraph_up_path(@post, paragraph), :method => :put %></td>
        <td><%= link_to 'Down', post_paragraph_down_path(@post, paragraph), :method => :put %></td>
        <td><%= link_to 'Destroy', post_paragraph_path(@post, paragraph), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Add a paragraph', new_post_paragraph_path(@post) %><br>


<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
