<h1>Editing post</h1>

<%= render 'form' %>


<table>
  <tr>
    <th>Img</th>
    <th>Pos</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @post.blocks.each do |block| %>
      <tr>
        <td><%= image_tag block.image.url(:small) %></td>
        <td><%= block.position %></td>
        <td><%= block.body %></td>
        <td><%= link_to 'Edit', edit_post_block_path(@post, block) %></td>
        <td><%= link_to 'Up', post_block_up_path(@post, block), :method => :put %></td>
        <td><%= link_to 'Down', post_block_down_path(@post, block), :method => :put %></td>
        <td><%= link_to 'Destroy', post_block_path(@post, block), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Add a block', new_post_block_path(@post) %><br>


<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
